html {
    background-image: linear-gradient(-45deg, rgba(0, 159, 255, 0.45), rgba(236, 47, 75, 0.5)), url('/images/background.jpg');
    background-size: 120% 120%;
    height: 100%;
    animation: gradient 35s ease infinite;
    font-family: "Poppins", sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
    position: relative;
    left: 37.7%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}

.logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#instructions {
  text-align: center;
  color: white;
  font-size: 38px;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
  line-height: 125px;
}

.wrapper {
    text-align: center;
}

#playBtn {
  background-color: #fbeee0;
  border: 2px solid #ec2F4B;
  border-radius: 30px;
  box-shadow: #ec2F4B 4px 4px 0 0;
  color: #ec2F4B;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
  padding: 0 50px;
  line-height: 50px;
  text-decoration: none;
  top: 50%;
  left: 46%;
  width: 180px;
  height: 80px;
}

#playBtn:hover {
  box-shadow: 4px 4px 0 #ec2F4B;
  transform: translate(-4px,-4px);
}

#playBtn:active {
  box-shadow: #240b36 2px 2px 0 0;
  transform: translate(2px, 2px);
}

section {
  display: flex;
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
}

#columns {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
}

#column1 {
  width: 50%;
  min-height: 490px;
  position: relative;
  transition: all .25s;
  border: 1px solid black;
}

#column2 {
  width: 50%;
  transition: all .25s;
  border: 1px solid black;
}

#column1:hover {
  transform: scale(1.01);
  border: 2px solid #ec2F4B;
}

#column2:hover {
  transform: scale(1.01);
  border: 2px solid #ec2F4B;
}

#higher {
  background-color: #fbeee0;
  border: 2px solid #ec2F4B;
  border-radius: 30px;
  box-shadow: #ec2F4B 4px 4px 0 0;
  color: #ec2F4B;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  width: 125px;
  height: 55px;
  text-align: center;
  left: 50%;
  margin-bottom: 15px;
}

#higher:hover {
  box-shadow: 4px 4px 0 #ec2F4B;
  transform: translate(-4px,-4px);
}

#higher:active {
  box-shadow: #ec2F4B 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#lower {
  background-color: #fbeee0;
  border: 2px solid #ec2F4B;
  border-radius: 30px;
  box-shadow: #ec2F4B 4px 4px 0 0;
  color: #ec2F4B;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  width: 125px;
  height: 55px;
  text-align: center;
  left: 50%;
}

#lower:hover {
  box-shadow: 4px 4px 0 #ec2F4B;
  transform: translate(-4px,-4px);
}

#lower:active {
  box-shadow: #ec2F4B 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#scoreboard {
  text-align: right;
  color: white;
  font-size: 34px;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
}

.disc {
  width: 2em;
  height: 2em;
  border: 2px solid black;
  border-radius: 50%;
  background-color: #ec2F4B;
  position: absolute;
  top: 54%;
  right: 47.3%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
}

#vs {
  position: relative;
  top: -35%;
}

#lose {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.lose-content {
  background-color: #ec2F4B;
  margin: 10% auto;
  padding: 25px;
  border: 4px solid white;
  width: 25%;
  text-align: center;
  overflow: auto;
}

#loseheader {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
}

#embarrassing {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#playAgain {
  background-color: #fbeee0;
  border: 2px solid black;
  border-radius: 30px;
  box-shadow: black 4px 4px 0 0;
  color: #ec2F4B;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 125px;
  height: 55px;
}

#playAgain:hover {
  box-shadow: 4px 4px 0 black;
  transform: translate(-4px,-4px);
}

#playAgain:active {
  box-shadow: black 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#scoreboard2 {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
}

#footer {
  text-shadow: black 0px 0px 10px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

#footertext {
  color: white;
  font-size: 16px;
  position: fixed;
  width: 100%;
  bottom: 35px;
  font-weight: 500;
  text-shadow: black 0px 0px 10px;
  text-align: center;
}

#footer a {
  color: white;
}

#footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#footer .social {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#github:hover {
  color: #FF416C;
}

#linkedin:hover {
  color: #4099FF;
}

.navbar {
  width: 90px;
  position: fixed;
  top: 0px;
  left: 0px;
  text-shadow: black 0px 0px 10px;
}

.navbar a {
  display: block;
  text-align: center;
  padding: 15px;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  color: white;
  font-size: 38px;
}

.navbar a:hover {
  background-color: #4099FF;
  border-radius: 50%;
}

.card {
  position: relative;
  margin: 60px auto;
  width: 450px;
  padding: 25px;
  box-shadow: 5px 5px 20px black;
  transition: transform .25s;
}

.card:hover {
  transform: scale(1.1);
}

.cardinfo {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.cardname h1 {
  color: black;
  font-size: 38px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: -10px;
}

.cardname h2 {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.cardlinks a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.cardlinks a:hover {
  color: #ec2F4B;
}

.cardimage {
  border-radius: 3px;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-image: linear-gradient(to top, #f0acdd 0%, #98b6e9 100%);
  border-bottom-left-radius: 170px;
}