html {
    background: linear-gradient(-45deg, #009FFF, #ec2F4B);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
    font-family: "Poppins", sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    transition: transform .2s;
}

.logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#instructions {
  text-align: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  line-height: 125px;
}

.wrapper {
    text-align: center;
}

#playBtn {
  background-color: #fbeee0;
  border: 2px solid #ec2F4B;
  border-radius: 30px;
  box-shadow: #ec2F4B 4px 4px 0 0;
  color: #ec2F4B;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  padding: 0 50px;
  line-height: 50px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 46%;
}

#playBtn:hover {
  box-shadow: 4px 4px 0 #ec2F4B;
  transform: translate(-4px,-4px);
}

#playBtn:active {
  box-shadow: #240b36 2px 2px 0 0;
  transform: translate(2px, 2px);
}

section {
  display: flex;
  border: 2px solid black;
  box-shadow: 4px 4px 0 black;
}

#columns {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
}

#column1 {
  width: 50%;
  min-height: 490px;
  position: relative;
  transition: all .25s;
}

#column2 {
  width: 50%;
  transition: all .25s;
}

#column1:hover {
  transform: scale(1.01);
}

#column2:hover {
  transform: scale(1.01);
}

#higher {
  background-color: #fbeee0;
  border: 2px solid #ec2F4B;
  border-radius: 30px;
  box-shadow: #ec2F4B 4px 4px 0 0;
  color: #ec2F4B;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  width: 125px;
  height: 55px;
  text-align: center;
  left: 50%;
  margin-bottom: 15px;
}

#higher:hover {
  box-shadow: 4px 4px 0 #ec2F4B;
  transform: translate(-4px,-4px);
}

#higher:active {
  box-shadow: #ec2F4B 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#lower {
  background-color: #fbeee0;
  border: 2px solid #ec2F4B;
  border-radius: 30px;
  box-shadow: #ec2F4B 4px 4px 0 0;
  color: #ec2F4B;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  text-decoration: none;
  width: 125px;
  height: 55px;
  text-align: center;
  left: 50%;
}

#lower:hover {
  box-shadow: 4px 4px 0 #ec2F4B;
  transform: translate(-4px,-4px);
}

#lower:active {
  box-shadow: #ec2F4B 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#scoreboard {
  text-align: right;
  color: white;
  font-size: 34px;
  font-weight: bold;
}

.disc {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #ec2F4B;
  position: absolute;
  top: 52%;
  right: 47.5%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-shadow: black 0px 0px 10px;
}

#vs {
  position: relative;
  top: -35%;
}